---
import EventAgenda from '../../components/event-detail/EventAgenda.astro';
import EventDetailHero from '../../components/event-detail/EventDetailHero.astro';
import EventHighlights from '../../components/event-detail/EventHighlights.astro';
import EventLocationNote from '../../components/event-detail/EventLocationNote.astro';
import EventStickyCTA from '../../components/event-detail/EventStickyCTA.astro';
import EventSummaryCard from '../../components/event-detail/EventSummaryCard.astro';
import EventTickets from '../../components/event-detail/EventTickets.astro';
import { api } from '../../lib/api';
import { mapToEventDetail } from '../../lib/mappers';
import Layout from '../../layouts/Layout.astro';

const { slug } = Astro.params;

let event;
try {
	const res = await api.events.show(slug!);
	event = mapToEventDetail(res.data);
} catch {
	return Astro.redirect('/events');
}
---

<Layout title={`${event.title} - Zillenial Action`}>
	<EventDetailHero event={event} />
	<main class="relative z-20 -mt-10 space-y-lg px-gutter pb-44">
		<EventSummaryCard event={event} />
		<EventHighlights event={event} />
		<EventTickets event={event} />
		<EventAgenda event={event} />
		<EventLocationNote event={event} />
	</main>
	<EventStickyCTA event={event} />
</Layout>
